{% extends "codespeed/base_site.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">
<h3>About this site</h3>
${OCAMLSPEED_ABOUT_THIS_SITE_BLOCK}
<p>This site runs on top of Django and a modified verison of Codespeed</p>
<h3>About the benchmarks</h3>
${OCAMLSPEED_ABOUT_BENCHMARKS_BLOCK}
<h3>About MyProject</h3>
${OCAMLSPEED_ABOUT_MYPROJECT_BLOCK}
<h3>About Codespeed</h3>
Codespeed is a web application to monitor and analyze the performance of your code.
<p>Code: <a href="http://github.com/tobami/codespeed">github.com/tobami/codespeed</a></p>
<p>Wiki: <a href="http://wiki.github.com/tobami/codespeed/">wiki.github.com/tobami/codespeed/</a></p>
<h3>Contact</h3>
${OCAMLSPEED_ABOUT_CONTACT_BLOCK}
</div>
{% endblock %}
