{% extends "codespeed/base_site.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">
<h3>About this site</h3>
<p>This is a demo of operf-micro benchmarks run on various ocaml compilers</p>
<p>This site runs on top of Django and Codespeed</p>
<h3>About the benchmarks</h3>
<p>The operf-micro code can be found <a href="https://github.com/OCamlPro/operf-micro">here</a>.</p>
<p>Benchmarks based on <a href="https://github.com/ocamllabs/sandmark">sandmark</a> are available at <a href="http://bench2.ocamllabs.io/">bench2.ocamllabs.io</a>
<h3>About MyProject</h3>
<p>The ocaml compiler code can be found <a href="https://github.com/ocaml/ocaml">here</a>.</p>
<h3>About Codespeed</h3>
Codespeed is a web application to monitor and analyze the performance of your code.
<p>Code: <a href="http://github.com/tobami/codespeed">github.com/tobami/codespeed</a></p>
<p>Wiki: <a href="http://wiki.github.com/tobami/codespeed/">wiki.github.com/tobami/codespeed/</a></p>
<h3>Contact</h3>
<p>For problems or suggestions about this website write to ctk21@cl.cam.ac.uk</p>
</div>
{% endblock %}
